.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 18px;
}

/*от 425 и до 767.98 пикселей —
от большого смартфона до вертикального положения планшета*/
@media screen and (max-width: 767.98px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
