.lead__subtitle {
  margin: 0 0 64px;
  padding: 0;
  font-size: 30px;
  line-height: 1.2;
  max-width: 640px;
}

/*МАКЕТ 2 СПРАВА НАЛЕВО*/
/*от 1024 и до 1279.98 — для небольших ноутбуков,*/
@media screen and (max-width: 1279.98px) {
  .lead__subtitle {
    margin: 0 0 56px;
  }
}

/*от 425 и до 767.98 пикселей —
от большого смартфона до вертикального положения планшета*/
@media screen and (max-width: 767.98px) {
  .lead__subtitle {
    font-size: 22px;
    max-width: 425px;
  }
}

/*МАКЕТ 4 СПРАВА НАЛЕВО*/
/*до 424.98 пикселей — мобильные устройства*/
@media screen and (max-width: 424.98px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin: 0 0 40px;
    max-width: 288px;
  }
}
