.cover__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, .3);
  position: absolute;
  text-decoration: none;
  color: #FFFFFF;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8);
  color: #FFFFFF;
}
